################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Base de datos.docx
Capas.jpg
Guia_Errores.docx