################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Base de datos.docx
Capas.jpg
Guia_Errores.docx
~$ia_Errores.docx
~$se de datos.docx
~WRL0005.tmp